<div id="landing_page">
    <div id="landing_page_landing">
        <div id="landing_left">
            <div id="landing_content">
                <mat-icon>event_available</mat-icon>
                <p>Design an event an look for partners</p>
                <h1 routerLink="/create">¡CREATE!</h1>
                <!-- <button mat-raised-button>Get Started</button> -->
            </div>
        </div>
        <div id="landing_right" routerLink="join">
            <div id="landing_content">
                <mat-icon>groups</mat-icon>
                <p>Join somebodie's session</p>
                <h1 routerLink="/join">¡SEARCH!</h1>
                <!-- <button mat-raised-button>Get Started</button> -->

            </div>
        </div>
    </div>
</div>