<div id="nav_bar">
    <div id="nav_bar_content">
        <div id="navbar_left">
            <div class="navbar-items">Hola, mundo</div>
        </div>
        <div id="navbar_right">
            <button *ngIf="!loggedIn()" class="navbar-items" mat-raised-button color="primary"
                (click)="onLoginClick()">Login</button>
            <button *ngIf="loggedIn()" class="navbar-items" mat-raised-button color="primary"
                (click)="onLogoutClick()">Logout</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>