<section id="container">
    <div id="footer">
        <div id="footer_navigate">
            <p class="mb-2">NAVIGATE:</p>
            <a href="">FUNCIONES</a>
            <a href="">BLOG</a>
            <a href="">AYUDA</a>
            <a href="">FILI BUSINESS</a>
            <a href="">TÉRMINOS</a>
            <a href="">PRIVACIDAD</a>
            <a href="">CONTACT ME</a>
        </div>
        <div id="footer_social">
            <p class="mb-2">SOCIAL MEDIA:</p>
            <table>
                <tr>
                    <td><i class="fs-5 fab fa-instagram"></i>&nbsp;</td>
                    <td>INSTAGRAM</td>
                </tr>
                <tr>
                    <td><i class="fs-5 fab fa-facebook"></i> &nbsp;</td>
                    <td>FACEBOOK</td>
                </tr>
                <tr>
                    <td><i class="fs-5 fab fa-youtube"></i> &nbsp;</td>
                    <td>YOUTUBE</td>
                </tr>
                <tr>
                    <td><i class="fs-5 fab fa-twitter"></i> &nbsp;</td>
                    <td>TWITTER</td>
                </tr>
            </table>
        </div>
        <div id="footer_logo">
            <img src="../../../assets/img/logo-main.ico" alt="">
            <p>&#169;Copyright 2021</p>
        </div>
    </div>
    <div id="developed_by">
        <p> &lt;/&gt; by <span class="name"> Luis López </span> 2021</p>
    </div>
</section>