#create_page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 800px;
    box-sizing: border-box;
    background-color: var(--color-white);
}

#create_page_landing {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
}

#create_left {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
}


#create_left_content {
    grid-column: 2 / 3;
    text-align: right;
    padding: 1em 1em 1em 3em;
}

#create_left_content h1 {
    font-size: 4em;
    line-height: 55px;
    font-weight: 800;
    font-family: var(--font-headers-secular);
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--color-black);
    padding: 0.4em 0.2em;
    background-color: var(--color-cop-red);
}

#create_left_content p {
    margin-top: 1em;
    font-size: 2em;
    font-weight: 400;
    font-family: var(--font-headers-secular);
    padding: 12px;
    color: var(--color-black);
}

#create_left_content button {
    margin-top: 1em;
    font-size: 1.3em !important;
    font-weight: 800;
    font-family: var(--font-headers-secular);
    background-color: var(--color-cop-red) !important;
    padding: 5px 15px !important;
    color: var(--color-white);

}

#logo_create {
    width: 50%;
    height: auto;
}


#create_right_content, #create_right {
    height: 100%;
    width: 100% !important;

}