/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
}

:root {
    --font-headers-secular: 'Secular One', sans-serif;
    --color-cop-red: #ff0000;
    --color-white: #fff;
    --color-black: #202020;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}